VITE_apiKey=AIzaSyAYK0L6OgSW44mA_H8jaQuGEBtjV4MDYWs
VITE_authDomain=kotoba-app-b6ae3.firebaseapp.com
VITE_projectId=kotoba-app-b6ae3
VITE_storageBucket=kotoba-app-b6ae3.firebasestorage.app
VITE_messagingSenderId=379067843208
VITE_appId=1:379067843208:web:0fa615f4ee60abed6d153d